<div class='container'>
  <div class='row justify-content-center'>
    <div class="text-end mt-2">
      <%= search_form_for @q, url: memories_path, class:"search-form" do |f| %>
        <%= f.search_field :country_code_cont, placeholder: '国名から探す', class:'input-box' %>
        <%= f.submit "search" %>
      <% end %>
    </div>

    <div class='col-md-9'>
      <% if user_signed_in? %>
        <% if params[:type] == 'link' || params[:type] == 'follwing' || params[:type] == 'traveled' || params[:type] == 'want'%>
          <ul class="nav nav-tabs justify-content-between text-center">
            <li class="nav-item memory-nav-item">
              <%= link_to memories_path('type': 'link'), class:"nav-link" do  %>
                <div class="memory-nav-content">全体</div>
              <% end %>
            </li>
            <li class="nav-item memory-nav-item">
              <%= link_to memories_path('type': 'follwing'), class:"nav-link" do  %>
                <div class="memory-nav-content">Follow</div>
              <% end %>
            </li>
            <li class="nav-item memory-nav-item">
              <%= link_to memories_path('type': 'traveled'), class:"nav-link" do %>
                <i class="fas fa-shoe-prints memory-sho"></i>
              <% end %>
            </li>
            <li class="nav-item memory-nav-item">
              <%= link_to  memories_path('type': 'want'), class:"nav-link" do %>
                <i class="fa-solid fa-plane memory-plane"></i>
              <% end %>
            </li>
            <li class="nav-item memory-nav-item">
              <%= link_to new_memory_path do %>
                <i class="fa-solid fa-circle-plus memory-plus"></i>
              <% end %>
            </li>
          </ul>
        <% else %>
          <%= link_to memories_path("type": "link") do %><div class="search-title">全体表示</div><% end %>
        <% end %>
      <% else %>
        <% if params[:type] == 'link' %>
          <ul class="nav nav-tabs justify-content-center text-center">
            <li>
              <h4 class="memory-unlogin-title">思い出一覧 <i class="fa-solid fa-camera ranking-show-camera"></i></h4>
            </li>
          </ul>
        <% else %>
          <%= link_to memories_path("type": "link") do %><div class="search-title">全体表示</div><% end %>
        <% end %>
      <% end %>

      <% if params[:type] == 'link' %>
        <%= render 'public/memories/memory_index', memories: @memories %>
      <% elsif params[:type] == 'follwing' %>
        <% if @following.blank? %>
          <h5 class="text-center mt-3">まだ投稿がありません😭</h5>
        <% else %>
          <%= render 'public/memories/memory_index', memories: @following %>
        <% end %>
      <% elsif params[:type] == 'traveled' %>
        <% if @traveled.blank? %>
          <h5 class="text-center mt-3">まだ投稿がありません😭</h5>
        <% else %>
          <%= render 'public/memories/memory_index', memories: @traveled %>
        <% end %>
      <% elsif params[:type] == 'want' %>
        <% if @want.blank? %>
          <h5 class="text-center mt-3">まだ投稿がありません😭</h5>
        <% else %>
          <%= render 'public/memories/memory_index', memories: @want %>
        <% end %>
      <% else %>
        <% if @search.blank? %>
          <h5 class="text-center mt-3">まだ投稿がありません😭</h5>
        <% else %>
          <div class="search-result">「<%= @q.country_code_cont %>」の投稿一覧</div>
          <%= render 'public/memories/memory_index', memories: @search %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>