<table class='table'>
  <tr>
    <td>
      <%= link_to user_path(@memory.user_id) do %>
        <%= image_tag @memory.user.get_user_image(50,50) %><br>
        <%= @memory.user.user_name %>
        <i class="flag-icon flag-icon-<%= @country_user_logo.code.downcase %>"></i>
      <% end %>
    </td>
    <td>
      渡航国:<%= @memory.country_code %>
      <%= link_to review_path(@country_logo.id) do %><i class="flag-icon flag-icon-<%= @country_logo.code.downcase %>"></i><% end %><br><br>
      <%= @memory.memory_contents %><br>
      <% if @memory.memory_image.present?%>
        <%= image_tag @memory.get_memory_image(1000,1000) %><br>
      <% end %>
      <p class="memory_like_<%= @memory.id %>">
        <%= render "public/memory_likes/like", memory: @memory %>
      </p>
      <%= time_ago_in_words(@memory.created_at) %> ago
    </td>

    <% if user_signed_in? %>
      <% if @memory.user_id == current_user.id  %>
        <td><%= link_to "Destroy", memory_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
      <% end %>
    <% elsif admin_signed_in? %>
      <td><%= link_to "Destroy", memory_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
    <% end %>
  </tr>
</table>
<div>
  <p class="comment-count">
    <%= render "public/memory_comments/count", memory: @memory %>
  </p>

  <div class="comment-index">
    <%= render "public/memory_comments/index", memory: @memory %>
  </div>
</div>
<div>
  <%= render "public/memory_comments/form", memory: @memory, memory_comment: @memory_comment %>
</div>