
<h2 class="text-center"><%= user.user_name %>さんのベスト3!</h2>
<div style="height: 0px">
  <i class="fa-solid fa-crown mypage-crown-one"></i><i class="fa-solid fa-crown mypage-crown-two"></i><i class="fa-solid fa-crown mypage-crown-three"></i>
  <span class="mypage-no-one">No.1</span><span class="myapge-no-two">No.2</span><span class="mypage-no-three">No.3</span>
</div>

<% ranking.each do |review| %>
  <div class='mypage-ranking-box'>
    <% country = Country.find_by(name_jp: review.country_code) %>
    <%= link_to user_path(user, {'type': 'review', anchor: 'nav_menu'}) do %>
      <i class="flag-icon flag-icon-<%= country.code.downcase %> mypage-country-icon"></i>
    <% end %>
    <span class="mypage-ranking-country-name mx-4"><%= review.country_code %></span>
    <span class="review_average<%= review.id%> mypage-rate"></span><span style="margin-top: 10px;"><%= review.review_average.round(1) %></span>


    <script>
      $('.review_average<%= review.id%>').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= review.review_average %>
      });
    </script>
  </div>
<% end %>