<div class='container'>
  <div class='row justify-content-center'>
    <%= search_form_for @q, url: reviews_path, class:"search-form" do |f| %>
      <%= f.collection_select :area_eq, @country, :area, :area, include_blank: "地域の選択", class:"search-select-box"  %>
      <%= f.search_field :country_code_cont, placeholder: '国名から探す', class:'input-box' %>
      <%= f.button type: "submit", class:"search-button" %>
    <% end %>
    <div class='col-md-2'>
      <table class='table'>
        <tr>
          <th>ランキング一覧</th>
        </tr>
        <!--<tr>-->
        <!--  <td>渡航数</td>-->
        <!--</tr>-->
        <tr>
          <td><%= link_to '総合評価', reviews_path('type': 'average') %></td>
        </tr>
        <tr>
          <td><%= link_to '楽しさ・娯楽', reviews_path('type': 'amusement' && @q.area) %></td>
        </tr>
        <tr>
          <td><%= link_to 'グルメ', reviews_path('type': 'gourmet') %></td>
        </tr>
        <tr>
          <td><%= link_to '治安', reviews_path('type': 'security') %></td>
        </tr>
        <tr>
          <td><%= link_to 'おすすめ度', reviews_path('type': 'recommend') %></td>
        </tr>
        <tr>
          <td><%= link_to 'オリジナル・その他', reviews_path('type': 'original') %></td>
        </tr>
      </table>
    </div>
    <div class='col-md-8'>
      <div class='row justify-content-center'>
        <div class='col-md-10 '>
          <% if params[:type] == 'amusement' %>
            <%= render 'public/reviews/review_ranking', reviews: @amusement %>
          <% elsif params[:type] == 'gourmet' %>
            <%= render 'public/reviews/review_ranking', reviews: @gourmet %>
          <% elsif params[:type] == 'security' %>
            <%= render 'public/reviews/review_ranking', reviews: @security %>
          <% elsif params[:type] == 'recommend' %>
            <%= render 'public/reviews/review_ranking', reviews: @recommend %>
          <% elsif params[:type] == 'original' %>
            <%= render 'public/reviews/review_ranking', reviews: @original %>
          <% elsif params[:type] == 'link' %>
            <%= render 'public/reviews/review_ranking', reviews: @average %>
          <% elsif params[:type] == 'average' %>
            <%= render 'public/reviews/review_ranking', reviews: @average %>
          <% else %>
            <% if @search.blank? %>
              <p>まだレビューがありません</p>
            <% else %>
              <%= render 'public/reviews/review_ranking', reviews: @search %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.list',
      nextSelector: 'span.next:last a'
    });
  });
</script>
