<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-3'>
      <table class='table'>
        <tr>
          <td>

            <i class="flag-icon flag-icon-<%= @country.code.downcase %>"></i>
            <%= @country.name_jp %>
            <% if user_signed_in? %>

            <% if @experience.exists?(country_code: @country.name_jp)%>
    	        <i class="fas fa-shoe-prints"></i><br>
    	      <% else %>
    	        <i class="fal fa-plane"></i><br>
    	      <% end %>

      	    <% end %>
          </td>
        </tr>
        <% if @reviews.blank? %>
          <tr>
            <td><p>まだレビューがありません</p></td>
          </tr>
        <% else %>
          <tr>
            <td>総合評価 <%= @reviews.average(:review_average).round(1) %><br>
            <div id="average-rate"></div>
            </td>
          </tr>
          <tr>
            <td>楽しさ・娯楽 <%= @reviews.average(:amusement_rate).round(1) %><br>
              <span id="amusement-rate"></span>
              (<%= @reviews.count(:amusement_rate) %>)
            </td>
          </tr>
          <tr>
            <td>グルメ <%= @reviews.average(:gourmet_rate).round(1) %><br>
              <span id="gourmet-rate"></span>
              (<%= @reviews.count(:gourmet_rate) %>)
            </td>
          </tr>
          <tr>
            <td>治安 <%= @reviews.average(:security_rate).round(1) %><br>
              <span id="security-rate"></span>
              (<%= @reviews.count(:security_rate) %>)
            </td>
          </tr>
          <tr>
            <td>おすすめ度 <%= @reviews.average(:recommend_rate).round(1) %><br>
              <span id="recommend-rate"></span>
              (<%= @reviews.count(:recommend_rate) %>)
            </td>
          </tr>

          <% if @reviews.average(:original_rate).nil? %>
            <tr>
              <td>オリジナルカテゴリー <br>
                <span id="original-rate0"></span>
                (<%= @reviews.count(:original_rate) %>)
              </td>
            </tr>
          <% else %>
            <tr>
              <td>オリジナルカテゴリー <%= @reviews.average(:original_rate).round(1) %><br>
                <span id="original-rate"></span>
                (<%= @reviews.count(:original_rate) %>)
              </td>
            </tr>
          <% end %>
        </table>
      </div>


    <div class='col-md-7'>
      <div>
        <%= link_to '楽しさ・娯楽', review_path(@country, {'type': 'amusement'}), anchor: 'test' %><br>
        <%= link_to 'グルメ', review_path(@country, {'type': 'gourmet'}) %><br>
        <%= link_to '治安', review_path(@country, {'type': 'security'}) %><br>
        <%= link_to 'おすすめ', review_path(@country, {'type': 'recommend'}), anchor: 'test' %><br>
        <%= link_to 'オリジナル', review_path(@country, {'type': 'original'}) %>
      </div>
      <h3><みんなのレビュー></h3>

      <div class='list jscroll'>
        <% @reviews.each do |f| %>
          <table class='table'>
            <tr>
              <td>
                <%= link_to user_path(f.user_id) do %>
                  <%= image_tag f.user.get_user_image(50,50) %>
                  <%= f.user.user_name %>さんのレビュー
                <% end %>
              </td>
            </tr>
            <tr>
              <% if params[:type] == 'amusement' %>
                  <td>
                    <span id="amusement-rate<%= f.id %>"></span>
                    <%= f.amusement_rate %>
                    <%= f.amusement_voice %>
                  </td>
              <% elsif params[:type] == 'gourmet' %>
                  <td>
                    <span id="gourmet-rate<%= f.id %>"></span>
                    <%= f.gourmet_rate %>
                    <%= f.gourmet_voice %>
                  </td>
              <% elsif params[:type] == 'security' %>
                  <td>
                    <span id="security-rate<%= f.id %>"></span>
                    <%= f.security_rate %>
                    <%= f.security_voice %>
                  </td>
              <% elsif params[:type] == 'recommend' %>
                  <td>
                    <span id="recommend-rate<%= f.id %>"></span>
                    <%= f.recommend_rate %>
                    <%= f.recommend_voice %>
                  </td>
              <% elsif params[:type] == 'original' %>
                  <td>
                    <span id="original-rate<%= f.id %>"></span>
                    <%= f.original_category %>
                    <%= f.original_rate %>
                    <%= f.original_voice %>
                  </td>
              <% else %>
                  <td>
                    <span id="amusement-rate<%= f.id %>"></span>
                    <%= f.amusement_rate %>
                    <%= f.amusement_voice %>
                  </td>
              <% end %>
            </tr>
          </table>
          <script>
            $('#amusement-rate<%= f.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: <%= f.amusement_rate %>
            });
            $('#gourmet-rate<%= f.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: <%= f.gourmet_rate %>
            });
            $('#security-rate<%= f.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: <%= f.security_rate %>
            });
            $('#recommend-rate<%= f.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: <%= f.recommend_rate %>
            });
            <% if f.original_rate.nil?  %>
    	      <% else %>
              $('#original-rate<%= f.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly: true,
                score: <%= f.original_rate %>
              });
            <% end %>
          </script>
        <% end %>
      <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#average-rate').raty({
  size      : 36,
  starOff   : '<%= asset_path('star-off.png') %>',
  starOn    : '<%= asset_path('star-on.png') %>',
  starHalf : '<%= asset_path('star-half.png') %>',
  half      : true,
  readOnly: true,
  score: <%= @reviews.average(:review_average) %>
  });

  $('#amusement-rate').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @reviews.average(:amusement_rate) %>
  });

  $('#gourmet-rate').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @reviews.average(:gourmet_rate) %>
  });

  $('#security-rate').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @reviews.average(:security_rate) %>
  });

  $('#recommend-rate').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @reviews.average(:recommend_rate) %>
  });

  <% if @reviews.average(:original_rate).nil? %>
  $('#original-rate0').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: 0
  });
  <% else %>
  $('#original-rate').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @reviews.average(:original_rate) %>
  });
  <% end %>

</script>
<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.list',
      nextSelector: 'span.next:last a'
    });
  });
</script>

<% end %>