<div class="memory-show-title-box">
  <%= link_to hints_path("type": "link") do %>
    <i class="fa-solid fa-angle-left memory-show-left"></i>
  <% end %>
  <span class="memory-new-title">ヒント投稿</span>
</div>


<div class="container">
   <div class="row justify-content-center">
     <div class="col-lg-3">
      <div class="text-danger">
         <%= render 'layouts/errors', obj: @hint %>
      </div>

      <div class="text-first">
         <%= form_with model: @hint, url: hints_path, local:true do |f| %>
            <div class="field mb-2">
              <%= f.label :"Country", class: "memory-new1" %>
              <%= f.collection_select(:country_code, Country.order(:name_jp), :name_jp, :name_jp) %>
            </div>

            <div class="field mb-2">
               <%= f.label :"Genre", class: "memory-new2" %>
               <%= f.collection_select(:tag_list, @tags, :name, :name) %>
            </div>

            <div class="field mb-2">
              <%= f.label :"Contents", class: "memory-new2" %>
              <%= f.text_area :hint_contents, size: "40x5" %>
            </div>

            <div class="field mb-3">
               <%= f.file_field :hint_image, accept: "image/*" %>
            </div>

            <div class="field mb-1">
               <%= f.submit "新規登録", class: "btn btn-sm btn-primary text-light" %>
            </div>
         <% end %>
      </div>
   </div>
  </div>
</div>