<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-10'>

      <ul class="nav nav-tabs justify-content-center text-center hint-nav-search">
        <% if params[:hint_id] == 'hoge' %>
          <li class="nav-item hint-nav-item">
            <%= link_to hints_path('type': 'link'), class: "nav-link" do %>
              <div class="hint-nav-content mt-1">全体</div>
            <% end %>
          </li>
          <li class="nav-item hint-nav-item">
            <%= link_to hint_search_path(@q.country_code_cont, {"type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content mt-1">アドバイス</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@q.country_code_cont, {"type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">現地の声</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@q.country_code_cont, {"type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">体験談</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@q.country_code_cont, {"type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">質問</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@q.country_code_cont, {"type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content-corona">新型コロナウイルス</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@q.country_code_cont, {"type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">その他</div>
            <% end %>
          </li>

        <% elsif params[:type] == 'search-tag' %>
          <li class="nav-item hint-nav-item">
            <%= link_to hints_path('type': 'link'), class: "nav-link" do %>
              <div class="hint-nav-content mt-1">全体</div>
            <% end %>
          </li>
          <li class="nav-item hint-nav-item">
            <%= link_to hint_search_path(@id, {"tag_name": "アドバイス", "type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content mt-1">アドバイス</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@id, {"tag_name": "現地の声", "type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">現地の声</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@id, {"tag_name": "体験談", "type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">体験談</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@id, {"tag_name": "質問", "type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">質問</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@id, {"tag_name": "新型コロナウイルスについて", "type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content-corona">新型コロナウイルス</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@id, {"tag_name": "その他", "type": "search-tag"}), class: "nav-link" do %>
              <div class="hint-nav-content">その他</div>
            <% end %>
          </li>
        <% else %>

          <li class="nav-item hint-nav-item">
            <%= link_to hints_path('type': 'link'), class: "nav-link" do %>
              <div class="hint-nav-content mt-1">全体</div>
            <% end %>
          </li>
          <li class="nav-item hint-nav-item">
            <%= link_to hint_search_path(@country, {tag_name: "アドバイス"}), class: "nav-link" do %>
              <div class="hint-nav-content mt-1">アドバイス</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@country, {tag_name: "現地の声"}), class: "nav-link" do %>
              <div class="hint-nav-content">現地の声</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@country, {tag_name: "体験談"}), class: "nav-link" do %>
              <div class="hint-nav-content">体験談</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@country, {tag_name: "質問"}), class: "nav-link" do %>
              <div class="hint-nav-content">質問</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@country, {tag_name: "新型コロナウイルスについて"}), class: "nav-link" do %>
              <div class="hint-nav-content-corona">新型コロナウイルス</div>
            <% end %>
          </li>
          <li class="nav-item memory-nav-item">
            <%= link_to hint_search_path(@country, {tag_name: "その他"}), class: "nav-link" do %>
              <div class="hint-nav-content">その他</div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to new_hint_path do %>
        <i class="fa-solid fa-circle-plus hint-plus"></i>
      <% end %>



          <% if params[:hint_id] == 'hoge' %>
            <% if @hints.blank? %>
              <h5 class="text-center mt-3">まだ「<%= @q.country_code_cont%>」の投稿がありません😭</h5>
            <% else %>
              <h5 class="text-center mt-3">「<%= @q.country_code_cont%>」の投稿一覧</h5>
            <% end %>
          <% elsif params[:type] == 'search-tag' %>
            <% if @hints.blank? %>
              <h5 class="text-center mt-3">まだ「<%= @id %>」の投稿がありません😭</h5>
            <% else %>
              <h5 class="text-center mt-3">「<%= @id %>」の投稿一覧</h5>
            <% end %>
          <% else %>
            <% if @hints.blank? %>
              <h5 class="text-center mt-3">まだ投稿がありません😭</h5>
            <% else %>
              <h5 class="text-center mt-3">「<%= @country_name.country_code %>」の投稿一覧</h5>
            <% end %>
          <% end %>

          <%= render 'public/hints/hint_index', hint: @hints %>
    </div>
  </div>
</div>