<table class='table'>
  <tr>
    <td>
      <%= link_to user_path(@hint.user_id) do %>
        <%= image_tag @hint.user.get_user_image(50,50) %><br>
        <%= @hint.user.user_name %>
        <i class="flag-icon flag-icon-<%= @country_user_logo.code.downcase %>"></i>
      <% end %>
    </td>
    <td>
      対象国:<%= @hint.country_code %>
      <%= link_to review_path(@country_logo.id) do %><i class="flag-icon flag-icon-<%= @country_logo.code.downcase %>"></i><% end %><br>
      ジャンル:<%= @hint.tag_list %><br><br>
      <%= @hint.hint_contents %><br>
      <% if @hint.hint_image.present?%>
        <%= image_tag @hint.get_hint_image(500,500) %><br>
      <% end %>
      <%= @hint.comments.count %>コメント
      <p class="hint_like_<%= @hint.id %>">
        <%= render "public/hint_likes/like", hint: @hint %>
      </p>
      <%= time_ago_in_words(@hint.created_at) %> ago
    </td>
    <% if user_signed_in? %>
        <% if @hint.user_id == current_user.id %>
          <td>
            <%= link_to "Destroy", hint_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
          </td>
        <% end %>
    <% end %>
  </tr>
</table>
<div>
  <p class="comment-count">
    <%= render "public/hint_comments/count", hint: @hint %>
  </p>
  <div class="comment-index">
    <%= render "public/hint_comments/index", hint: @hint, country_logo: @country_logo %>
  </div>
</div>
<div>
  <%= render "public/hint_comments/form", hint: @hint, hint_comment: @hint_comment %>
</div>