<table class="table">
  <tr>
    <th class="table-active">ID</th>
    <th class="table-active">User Name</th>
    <th class="table-active">Mail</th>
    <th class="table-active">Status</th>
    <th class="table-active"></th>
  </tr>
  <% users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= link_to user.user_name, user_path(user), class: "text-dark" %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <% if user.is_deleted == true %>
        <td class="text-success fw-bold">有効</td>
      <% else %>
        <td class="text-danger fw-bold">退会済</td>
      <% end %>

      <% if user.is_deleted == true %>
        <td><%= link_to "退会", admin_user_path(user), method: :patch, class: "btn btn-danger", "data-confirm" => "本当によろしいですか？" %></td>
      <% else %>
        <td><%= link_to "有効", admin_user_path(user), method: :patch, class: "btn btn-primary", "data-confirm" => "本当によろしいですか？" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= paginate users %>