<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="mt-2">
        <%= search_form_for @q, url: admin_users_path, class:"search-form" do |f| %>
          <%= f.search_field :user_name_cont, placeholder: 'ユーザーを探す', class:'input-box' %>
          <%= f.button type: "submit", class:"search-button" %>
        <% end %>
      </div>

      <h4 class="mt-3">会員一覧</h4>
      <% if params[:type] == 'link' %>
        <%= render 'admin/users/index', users: @users %>
      <% else %>
        <% if @search.blank? %>
          <p>ユーザーが見つかりませんでした</p>
        <% else %>
          <%= render 'admin/users/index', users: @search %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>