<h1>マイページ</h1>
  <table class='table'>
    <tr><%= image_tag @user.get_user_image(100,100) %></tr>
    <tr>
  	  <th>name</th>
  	  <th><%= @user.user_name %></th>
    </tr>
    <tr>
  	  <th>母国(国旗image)</th>
  	  <th><%= @user.motherland %></th>
    </tr>
    <tr>
  	  <th>Gender</th>
  	  <th><%= @user.gender %></th>
    </tr>
    <tr>
  	  <th>Age</th>
  	  <th><%= @user_age %></th>
    </tr>
    <tr>
  	  <th>Introduction</th>
  	  <th><%= @user.introduction %></th>
    </tr>
  </table>

  <div class='row'>
    <% if @user.id == current_user.id %>
      <%= link_to 'Edit', edit_user_path(current_user) %>
    <% end %>
  </div>
