<%= render 'public/users/map' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 user-info-ranking-box">
      <div class="row justify-content-center">
        <div class="col-md-4 user-info-box">
          <span class="mypage-count">World <%= @country_progress.round(1) %>%</span>
          <h2 class="line"></h2>

          <% if user_signed_in? %>
            <% if @user == current_user  %>
              <%= link_to new_review_path do %>
                <i class="fa-solid fa-circle-plus mypage-plus"></i>
              <% end %>
            <% end %>
          <% end %>

          <div class='mypage-box'>
            <div>
              <div><i class="flag-icon flag-icon-<%= @user_logo.code.downcase %> mypage-user-icon"></i></div>
              <%= image_tag @user.get_user_image(150,150), class: "mypage-user-img" %>
              <div class="mypage-username">
                <span class="ms-5 me-1"><%= @user.user_name %></span>

                <% if @user.gender == "男" %>
                  <i class="fa-solid fa-mars"></i>
                <% elsif @user.gender == "女" %>
                  <i class="fa-solid fa-venus"></i>
                <% end %>

                <%= @user_age %>
              </div>
            </div>

            <div class="mypage-introduction-box">
               <%= @user.introduction %>
            </div>

            <div class="follow-box d-flex justify-content-center">
              <div class="following">
                <%= link_to @user.followers.count, followers_user_path(@user) %><br>
                following
              </div>
              <div class="followers">
                <%= link_to @user.followeds.count, followed_user_path(@user) %><br>
                followers
              </div>
            </div>

            <div class="button-box">
              <% if user_signed_in? %>
                <% if @user != current_user %>
            	    <% if @user.is_followed_by?(current_user) %>
                    <%= link_to user_relationships_path(@user), method: :delete do %>
                      <putton class="btn btn-danger mypage-button">フォローを外す</putton>
                    <% end %>
                  <% else %>
                    <%= link_to user_relationships_path(@user), method: :post do %>
                      <putton class="btn btn-primary mypage-button">フォロー</putton>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to edit_user_path(current_user) do %>
                    <putton class="btn btn-success mypage-button">Edit</putton>
                   <% end %>
                <% end %>
              <% elsif admin_signed_in? %>
                <% if @memory_score.nil? %>
                  <div class="sentiment-score">まだ思い出スコアがありません</div>
                <% else %>
                  <div class="sentiment-score">思い出平均スコア (<%= @memory_score.round(1) %>)</div>
                <% end %>
                <% if  @hint_score.nil? %>
                  <div class="sentiment-score">まだヒントスコアがありません</div>
                <% else %>
                  <div class="sentiment-score">ヒント平均スコア (<%= @hint_score.round(1) %>)</div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-7 user-ranking-box">
          <%= render 'public/reviews/user_ranking', ranking: @ranking, user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 mb-4">
      <ul class="nav nav-fill nav-tabs", id="nav_menu">
        <li class="nav-item mypage-nav-item">
          <%= link_to user_path(@user, {'type': 'review', anchor: 'nav_menu'}), class:"nav-link" do %>
            <i class="fas fa-shoe-prints mypage-sho"></i>
          <% end %>
        </li>
        <li class="nav-item mypage-nav-item">
          <%= link_to user_path(@user, {'type': 'like', anchor: 'nav_menu'}), class:"nav-link" do %>
            <i class="fa-solid fa-plane mypage-plane"></i>
          <% end %>
        </li>
        <li class="nav-item mypage-nav-item">
          <%= link_to user_path(@user, {'type': 'memory', anchor: 'nav_menu'}), class:"nav-link" do %>
            <i class="fa-solid fa-camera mypage-camera"></i>
          <% end %>
        </li>
        <li class="nav-item mypage-nav-item">
          <%= link_to user_path(@user, {'type': 'hint', anchor: 'nav_menu'}), class:"nav-link" do %>
            <i class="fa-solid fa-lightbulb mypage-light"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <% if params[:type] == 'hint' %>
        <h2 class="text-center">「ヒント」</h2>
        <%= render 'public/hints/hint_index', hints: @hints %>
      <% elsif params[:type] == 'memory' %>
        <h2 class="text-center">「思い出」</h2>
        <%= render 'public/memories/memory_index', memories: @memories %>
      <% elsif params[:type] == 'like' %>
        <h2 class="text-center">「行きたいリスト」</h2>
        <div class="mypage-want-index"><%= render 'public/users/like', likes: @likes %></div>
      <% else %>
        <h2 class="text-center">「レビュー」</h2>
        <div class="mypage-review-index"><%= render 'public/reviews/review_index', reviews: @reviews %></div>
      <% end %>
    </div>
  </div>
</div>
