<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h1>マイページ</h1>
      <table class='table'>
        <tr><%= image_tag @user.get_user_image(100,100) %></tr>
        <tr>
      	  <th>name</th>
      	  <th><%= @user.user_name %></th>
        </tr>
        <tr>
      	  <th>母国(国旗image)</th>
      	  <th><%= @user.country_code %></th>
        </tr>
        <tr>
      	  <th>Gender</th>
      	  <th><%= @user.gender %></th>
        </tr>
        <tr>
      	  <th>Age</th>
      	  <th><%= @user_age %></th>
        </tr>
        <tr>
      	  <th>Introduction</th>
      	  <th><%= @user.introduction %></th>
        </tr>
      </table>
      <div>
        <% if @user == current_user %>
          <%= link_to 'Edit', edit_user_path(current_user) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <%= render 'public/reviews/ranking', ranking: @ranking, user: @user %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">
          レビュー
        </li>
        <li class="tab">
          思い出
        </li>
        <li class="tab">
          ヒント
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tabbox-contents">
  <div class="tabbox box-show">
    <%= render 'public/reviews/review_index', reviews: @reviews %>
  </div>

  <div class="tabbox">
    <%= render 'public/memories/memory_index', memory: @memory %>
  </div>

  <div class="tabbox">
    <%= render 'public/hints/hint_index', hint: @hint %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $(function() {
      $('.tab').click(function(){
        $('.tab-active').removeClass('tab-active');
        $(this).addClass('tab-active');
        $('.box-show').removeClass('box-show');
        const index = $(this).index();
        $('.tabbox').eq(index).addClass('box-show');
      });
    });
  });
</script>