<%= render 'public/users/map' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h3>World <%= @country_progress.round(1) %>%</h3>
      <%=link_to "レビュー登録", new_review_path %>
      <% if @user == current_user %>
        <h1>マイページ</h1>
      <% else %>
        <h1><%= @user.user_name %>さんのページ</h1>
      <% end %>

      <table class='table'>
        <tr><%= image_tag @user.get_user_image(100,100) %><br>
          <i class="flag-icon flag-icon-<%= @user_logo.code.downcase %>"></i>
        </tr>
        <tr>
      	  <th>name</th>
      	  <th><%= @user.user_name %></th>
        </tr>
        <tr>
      	  <th>母国(国旗image)</th>
      	  <th><%= @user.country_code %></th>
        </tr>
        <tr>
      	  <th>Gender</th>
      	  <th><%= @user.gender %></th>
        </tr>
        <tr>
      	  <th>Age</th>
      	  <th><%= @user_age %></th>
        </tr>
        <tr>
      	  <th>Introduction</th>
      	  <th><%= @user.introduction %></th>
        </tr>

        <% if user_signed_in? %>
          <% if @user != current_user %>
            <tr>
          	  <th>
          	    <% if @user.is_followed_by?(current_user) %>
                  <%= link_to user_relationships_path(@user), method: :delete do %>
                    <putton class="btn btn-danger">フォローを外す</putton>
                  <% end %>
                <% else %>
                  <%= link_to user_relationships_path(@user), method: :post do %>
                    <putton class="btn btn-primary">フォロー</putton>
                  <% end %>
                <% end %>
              </th>
            </tr>
          <% end %>
        <% end %>

        <tr>
          <th>follows</th>
          <th><%= link_to @user.followers.count, followers_user_path(@user) %></th>
          <th>followed</th>
          <th><%= link_to @user.followeds.count, followed_user_path(@user) %></th>
        </tr>

      </table>
      <div>
        <% if @user == current_user %>
          <%= link_to 'Edit', edit_user_path(current_user) %>
        <% end %>
      </div>
    </div>

    <div class="col-md-5">
      <%= render 'public/reviews/user_ranking', ranking: @ranking, user: @user %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <%= link_to 'レビュー',user_path(@user, {'type': 'review'}) %><br>
      <%= link_to '思い出',user_path(@user, {'type': 'memory'}), anchor: 'test' %><br>
      <%= link_to 'ヒント',user_path(@user, {'type': 'hint'}) %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if params[:type] == 'review' %>
        <h2 class="text-center">マイレビュー一覧</h2>
        <%= render 'public/reviews/review_index', reviews: @review %>
      <% elsif params[:type] == 'memory' %>
        <h2 class="text-center" id="test">思い出一覧</h2>
        <%= render 'public/memories/memory_index', memory: @memory %>
      <% else %>
        <h2 class="text-center">ヒント一覧</h2>
        <%= render 'public/hints/hint_index', hint: @hint %>
      <% end %>
    </div>
  </div>
</div>
