<ul class="bottom-nuv nav nav-fill nav-tabs">
	<li class="nav-item bottom-nav-item">
    <%= link_to reviews_path('type': 'link'), class:"nav-link" do %>
      <i class="fa-solid fa-ranking-star"></i>
    <% end %>
  </li>
  <li class="nav-item bottom-nav-item">
    <%= link_to memories_path('type': 'link'), class:"nav-link" do %>
      <i class="fa-solid fa-camera mypage-camera-bottom"></i>
    <% end %>
  </li>
  <li class="nav-item bottom-nav-item">
    <%= link_to hints_path('type': 'link'), class:"nav-link" do %>
      <i class="fa-solid fa-lightbulb mypage-light-bottom"></i>
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item bottom-nav-item">
      <%= link_to user_path(current_user), class:"nav-link" do %>
        <i class="fa-solid fa-circle-user"></i>
      <% end %>
    </li>
    <% if unchecked_notifications.any? %>
      <li class="nav-item bottom-nav-item">
        <%= link_to notifications_path, class: "nav_link ms-3" do %>
          <i class="fa-solid fa-circle sm-circle"></i>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item bottom-nav-item">
        <%= link_to notifications_path, class: "nav_link" do %>
          <i class="fa-solid fa-bell"></i>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>